@charset "UTF-8";

/* 
CSS brought to you by: Bootstrap
For the entirety of the project, visit the site below.
https://github.com/twbs/bootstrap
*/

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    float: left;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fiuid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.main-column, .side-column {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: right;
}

.side-column {
  width: 16.66666667%;
}

.main-column {
    width: 83.33333333%;
}

p {
  margin: 0 0 10px;
}
