@charset "UTF-8";

/* 
CSS brought to you by: Bootstrap
For the entirety of the project, visit the site below.
https://github.com/twbs/bootstrap
*/

html {
	background: url(background.jpg) no-repeat center center fixed;
	background-size: cover;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    float: left;
}

.container {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-column, .side-column {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.side-column {
  width: 10%;
  float: left;
}

.main-column {
    width: 85%;
    float: right;
}

p {
  margin: 0 0 10px;
}
